<!--
Example launch file: launches the scan matcher with pre-recorded data
-->

<launch>

  #### start the laser scan_matcher ##############################


    <param name="laser_scan_matcher_node/use_odom" value="false"/>
    <param name="laser_scan_matcher_node/use_imu" value="false"/>
    <param name="laser_scan_matcher_node/publish_tf" value="true"/>

  <node pkg="laser_scan_matcher" type="laser_scan_matcher_node"
    name="laser_scan_matcher_node" output="screen">

    <param name="max_iterations" value="10"/>
  </node>

</launch>
